* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
body {
  font-size: 100%;
}
nav .brand-logo {
  margin-left: 15px;
}
.tab {
  transition: 0.4s !important;
}

.modal .modal-content .row-tabs .tabs {
  background-color: transparent;
  border-bottom: 1px solid lightgray;
}
/* .modal .modal-content {
  padding: 20px 0 0 0;
}
.modal .modal-content h4,
.modal .modal-content .form > * {
  padding: 0 24px;
}
.modal .modal-content .row-tabs,
.modal .modal-content .row-tabs .col {
  padding: 0;
} */
.tab-content {
  display: none;
}
.tab-active {
  display: block;
}
.days {
  display: flex;
  justify-content: space-around;
}
.day-chip {
  display: inline-block;
  background-color: lightgray;
  /* height: 32px; */
  padding: 5px 13px;
  margin: 10px;
  border-radius: 24px;
  transition: 0.4s;
  user-select: none;
}
.day-chip:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}
.day-chip[data-selected="true"] {
  cursor: pointer;
  background-color: rgb(172, 37, 154);
  color: white;
}
.modal.modal-fixed-footer-custom
  .modal-content:not(.timepicker-modal .modal-content) {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.modal.modal-fixed-footer-custom {
  padding: 0;
  height: 70%;
}
.modal.modal-fixed-footer-custom .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}
.timepicker-modal {
  width: 90% !important;
}
.progress-hidden {
  display: none;
}
nav {
  background-color: transparent;
  backdrop-filter: blur(5px);
}
nav .brand-logo {
  color: teal !important;
}
nav ul li a {
  color: pink !important;
}
nav div.nav-wrapper {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
section#schedule {
  position: relative;
}
.loader-wrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.input-field i.prefix {
  font-style: normal;
  font-size: 18px !important;
  /* background: teal; */
  color: teal;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}
#days-type {
  font-size: 16px;
}
#create-progress {
  position: absolute;
  top: 5px;
  left: 0;
}
/* Cards and timeline */
section#schedule {
  width: 100%;
  padding: 30px;
}
#schedule-cards {
  width: 100%;
}
.timeline-item {
  display: flex;
  position: relative;
}
.timeline-content {
  flex: 1 1 auto;
  padding: 0 0 0 1rem;
}
.timeline-item .card {
  max-height: 300px;
  margin-bottom: 40px !important;
}
.timeline-item .timeline-icon i {
  margin-top: 20px;
  font-size: 24px;
  background: rgb(29, 134, 134);
  color: white;
  border-radius: 50%;
  padding: 9px;
}
.timeline-icon {
  z-index: 2;
}
.timeline-item::before {
  z-index: 1;
  content: "";
  position: absolute;
  left: 20px;
  top: 21px;
  width: 2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.timeline-item:last-child::before {
  height: 72%;
}
.card .card-title {
  font-weight: initial;
}
.card .card-action a {
  color: red !important;
}
.card.purple {
  background-color: #eeebfa !important;
  color: #7557d4 !important;
}
.card.purple .day-chip-display {
  border-color: #7557d4;
}
.card.green {
  background-color: #e9f4f5 !important;
  color: #309799 !important;
}
.card.green .day-chip-display {
  border-color: #309799;
}
.card.yellow {
  background-color: #fdeeea !important;
  color: #ee734f !important;
}
.card.yellow .day-chip-display {
  border-color: #ee734f;
}
.card.blue {
  background-color: #c9e7fa !important;
  color: #306199 !important;
}
.card.blue .day-chip-display {
  border-color: #306199;
}
/* Day chips in timeline */
.days-display {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.day-chip-display {
  border: 1px solid;
  padding: 3px 10px;
  border-radius: 28px;
  margin: 0 15px;
}
.day-chip-display:first-child {
  margin-left: 0;
}
