* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}
body {
  font-size: 100%;
}
nav .brand-logo {
  margin-left: 15px;
}
span.badge {
  font-size: 1rem !important;
  height: 23px;
}
section {
  margin-bottom: 30px;
}
.tab {
  transition: 0.4s !important;
}

.modal .modal-content .row-tabs .tabs {
  background-color: transparent;
  border-bottom: 1px solid lightgray;
}
/* .modal .modal-content {
  padding: 20px 0 0 0;
}
.modal .modal-content h4,
.modal .modal-content .form > * {
  padding: 0 24px;
}
.modal .modal-content .row-tabs,
.modal .modal-content .row-tabs .col {
  padding: 0;
} */
.tab-content {
  display: none;
}
.tab-active {
  display: block;
}
.days {
  display: flex;
  justify-content: space-around;
}
.day-chip {
  display: inline-block;
  background-color: lightgray;
  /* height: 32px; */
  padding: 5px 13px;
  margin: 10px;
  border-radius: 24px;
  transition: 0.4s;
  user-select: none;
}
.day-chip:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}
.day-chip[data-selected="true"] {
  cursor: pointer;
  background-color: rgb(172, 37, 154);
  color: white;
}
.modal.modal-fixed-footer-custom
  .modal-content:not(.timepicker-modal .modal-content) {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.modal.modal-fixed-footer-custom {
  padding: 0;
  height: 70%;
}
.modal.modal-fixed-footer-custom .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}
.timepicker-modal {
  width: 90% !important;
}
.progress-hidden {
  display: none;
}
nav {
  background-color: transparent;
  backdrop-filter: blur(5px);
}
nav .brand-logo {
  color: teal !important;
}
nav ul li a {
  color: pink !important;
}
nav div.nav-wrapper {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
section#schedule {
  position: relative;
}
.loader-wrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.input-field i.prefix {
  font-style: normal;
  font-size: 18px !important;
  /* background: teal; */
  color: teal;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}
#days-type {
  font-size: 16px;
}
#create-progress {
  position: absolute;
  top: 5px;
  left: 0;
}
/* Cards and timeline */
section#schedule {
  width: 100%;
  padding: 30px;
}
#schedule-cards {
  width: 100%;
}
.timeline-item {
  display: flex;
  position: relative;
  transition: 0.3s;
  max-height: 350px;
}
.timeline-item.deleted {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.45s ease-in-out;
}
.timeline-content {
  flex: 1 1 auto;
  padding: 0 0 0 1rem;
}
.timeline-item .card {
  max-height: 300px;
  margin-bottom: 40px !important;
}
.timeline-item .timeline-icon i {
  margin-top: 20px;
  font-size: 24px;
  background: rgb(29, 134, 134);
  color: white;
  border-radius: 50%;
  padding: 9px;
  transition: 0.4s;
}
.timeline-icon {
  z-index: 2;
}
.timeline-icon:hover {
  cursor: pointer;
}
.timeline-icon:hover i {
  background-color: rgb(77, 1, 1);
}
.timeline-icon.disabled-true i {
  background: red;
}
.card {
  transition: 0.4s;
}
.card.disabled-true {
  opacity: 0.6;
  filter: grayscale(0.9);
}
.card.disabled-true:hover {
  opacity: 1;
  filter: none;
}
.timeline-item::before {
  z-index: 1;
  content: "";
  position: absolute;
  left: 20px;
  top: 21px;
  width: 2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.timeline-item:last-child::before {
  height: 72%;
}
.card .card-content {
  padding-top: 15px;
}
.card .card-title {
  font-weight: initial;
  font-size: 28px;
  margin-bottom: 12px !important;
}
.card .card-action a {
  color: #9c27b0 !important;
}
.card.purple {
  background-color: #eeebfa !important;
  color: #7557d4 !important;
}
.card.purple .day-chip-display {
  border-color: #7557d4;
}
.card.green {
  background-color: #e9f4f5 !important;
  color: #309799 !important;
}
.card.green .day-chip-display {
  border-color: #309799;
}
.card.yellow {
  background-color: #fdeeea !important;
  color: #ee734f !important;
}
.card.yellow .day-chip-display {
  border-color: #ee734f;
}
.card.blue {
  background-color: #c9e7fa !important;
  color: #306199 !important;
}
.card.blue .day-chip-display {
  border-color: #306199;
}
/* Meeting URL */
.card-action a.meeting-code {
  color: white !important;
  padding: 8px 18px !important;
  border-radius: 8px;
}
.card-action a.normal-url {
  text-transform: none !important;
}
/* Day chips in timeline */
.days-display {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.day-chip-display {
  border: 1px solid;
  padding: 3px 10px;
  border-radius: 28px;
  margin: 0 15px;
}
.day-chip-display:first-child {
  margin-left: 0;
}
.card-action {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
/* Action buttons */
button i {
  transition: 0.3s;
}
button[class*="-button"] {
  border-radius: 50%;
  padding: 8px 10px;
  text-align: center;
  border: none;
  outline: none;
}
button.edit-button i {
  color: #306199;
}
button.delete-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
button.edit-button:hover {
  background-color: rgb(11, 109, 109);
}
button.edit-button:hover i {
  color: rgb(139, 192, 189);
}
button.share-button:hover {
  background-color: #7557d4;
}
button.share-button:hover i {
  color: rgb(139, 192, 189);
}
.gh {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='12 12 40 40'%3e%3cpath fill='%23333' d='M32 13.4c-10.5 0-19 8.5-19 19 0 8.4 5.5 15.5 13 18 1 .2 1.3-.4 1.3-.9v-3.2c-5.3 1.1-6.4-2.6-6.4-2.6-.9-2.1-2.1-2.7-2.1-2.7-1.7-1.2.1-1.1.1-1.1 1.9.1 2.9 2 2.9 2 1.7 2.9 4.5 2.1 5.5 1.6.2-1.2.7-2.1 1.2-2.6-4.2-.5-8.7-2.1-8.7-9.4 0-2.1.7-3.7 2-5.1-.2-.5-.8-2.4.2-5 0 0 1.6-.5 5.2 2 1.5-.4 3.1-.7 4.8-.7 1.6 0 3.3.2 4.7.7 3.6-2.4 5.2-2 5.2-2 1 2.6.4 4.6.2 5 1.2 1.3 2 3 2 5.1 0 7.3-4.5 8.9-8.7 9.4.7.6 1.3 1.7 1.3 3.5v5.2c0 .5.4 1.1 1.3.9 7.5-2.6 13-9.7 13-18.1 0-10.5-8.5-19-19-19z'/%3e%3c/svg%3e")
    0 0/100% 100% no-repeat;
}

p {
  font-size: 19px;
}
/* Settings */
.switch {
  display: inline-block;
  margin-left: 20px;
}
div.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
code,
pre {
  background-color: #d6e7e4;
  color: #116969;
  padding: 8px 16px;
}
section#about i {
  transform: translateY(3px);
  margin-right: 5px;
}
section#about code {
  border-radius: 5px;
  padding: 0px 9px;
  margin-bottom: 5px;
  display: inline-block;
}
section#about a.tab {
  background-color: #d6e7e4;
  color: #116969;
  border-radius: 5px;
  padding: 5px 9px;
  margin-bottom: 5px;
}
